body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
}
.menu{
    display: flex;
    justify-content: center;
    background-color: gray  ;
    color: white;
    gap: 30px;
}
.menu h4{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 4px
}
.menu h3{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 12px;
    padding: 7px;
}
.menu h3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.menu h4:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 300px;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.producto .precio {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.producto button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.producto button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
